<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
{#	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">#}
{#	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">#}
{#    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">#}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">


</head>

<body>
{% block styles %}

    <link rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}">
    {% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="#">
                <img src="/static/assets/prjlogo.jpg" alt="" >
                 </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Test1</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Test2</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Test3</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Flash</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}
{% block content %}


	<div class="container" style="min-height:100% ;width:80%;margin-top :20px">
	 {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
           <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    <div class="container bg-grey " style="border: 2px;margin-top :20px">
        <div class="card bg-light">
            <div class="card-body">
                <h3>Hello, User</h3>

                <h5>Login</h5>
                {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
                 {% endif %}
                <form method=post>
                <dl>
                <dt>Username:
                <dd><input type=text name=username value="{{
                    request.form.username }}">
                <dt>Password:
                <dd><input type=password name=password>
                </dl>
                <p><input type=submit value=Login>
                </form>
                </div>
            </div>
    </div>
{% endblock %}

{% block footer %}
  <footer class="py-3 bg-dark fixed-bottom" >
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
{% endblock %}
{% block scripts %}
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

 <script>
$('.close').click(function(){
    $("div.alert").hide();

});

</script>
{% endblock %}

</body>

</html>
